@font-face {
  font-family: 'arial_light';
  src: url('arial_light.ttf');
}

@font-face {
	font-family: 'arial';
	src: url('arial.ttf');
}

#wrap {
	width: 70%;
	margin: 0 auto;
}

html {
	background-color: #0d0d0d;
	font-family: "arial_light";
	padding-left: 22px;
	letter-spacing: -0px;
	color: #e9e7dd
}

a img {
	border:0;
}

h1 {
	text-align: left;
	font-size: 3.9em;
	font-family: "arial_light";
	display: inline;
	color: #ac3501;
	position: relative;
}

h3 {
	font-family: "arial_light";
	font-size: 1.7em;
	display: inline;
	position: relative;
	text-align: left;
	left: -20px;
	font-weight: 900;
	color: #86857f;
}

nav {
	font-size: 1.3em;
	display: inline;
	text-align: right;
	padding-left: 0%;
}

nav ul {
	display: inline;
	padding-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

nav ul li {
	text-align: center;
	display: inline;
}

nav ul li a {
	background-color: #0d0d0d; 
	color: #FFFFFF;
	margin-left: 2%;
	margin-right: 1%;
	text-decoration: none;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;

}

nav ul li #active {
	color: #111;
}

nav ul li a:hover {
	text-shadow: 0 0 .5em #B5B5B5;
	color: #F1F1F1;
	text-decoration: none;
}

#box {
	color: #000;
	border-color: #000;
	border-width: 3px;
	border-style: solid;
	display: inline-block;
	padding: 10px 10px 10px 10px;
	margin-left: 450px;
	margin-bottom: 10px;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

#box:hover {
	text-shadow: 0 0 .5em #8ad459;
	color: #8ad459;
	border-color: #8ad459;
	text-decoration: none;
}

#content h2 {
	border-color: #ACACAC;
	border-width: 2px;
	font-size: 1.1em;
	font-weight: 400;
}

#content ul {
	position: relative;
	left: 50px;
	font-size: 1.0em;
	font-weight: 400;
	font-size: 1.1em;
	font-weight: bolder;
	list-style-type: none;

}

#contact {
	color: #FFFFFF;
}

#contact img {
	position: relative;
	float: left;
	padding-right: 20px;
	
}

#aboutme img {
	position: relative;
	float: left;
	padding-right: 20px;
	list-style-type: none;
	
}

.blog{
	
	target-name: new;
	target-new: tab;
}

.resume{
	
	target-name: new;
	target-new: tab;

}

#aboutmetext {
	font-family: "arial_light", Times, serif;
	letter-spacing: normal;
	list-style-type: none;
}

footer p {
	position: relative;
	font-family: "arial_light";
	text-align: left;
	font-size: 0.7em;
	display: inline;
	color: #595856;
}

footer a {
	color: #595856;
}
